<div class="page-header"><h1>პირველი დარეკვის ანგარიში</h1></div>

<h2>საერთო ინფორმაცია</h2>

<ul class="standard">
  <li>მთლიანი რაოდენობა უბნებისა, სადაც დაკვირვება განხორციელდა: <%= @total_precincts.length %></li>
  <li>უბნების რაოდენობა, საიდანაც განხორციელდა ანგარიშგება: <%= @precincts.length %></li>
  <li>უბნების პროცენტული რაოდენობა, საიდანაც განხორციელდა ანგარიშგება: <%= number_to_percentage(@precincts.length.to_f / @total_precincts.length) %></li>
</ul>
<br />

<h2>დეტალური ინფორმაცია</h2>

<ul class="standard">
  <li>გაიხსნა თუ არა საარჩევნო უბანი დროულად - 07:00 საათზე?: <%= number_to_percentage(@on_time.to_f / @precincts.length) %></li>
  <li>ამომრჩეველთა საერთო რაოდენობა ერთიან სიაში (ოქმის 1-ელი გრაფა): <%= @voters_general %></li>
  <li>ამომრჩეველთა რაოდენობა სპეციალურ სიაში (ოქმის მე-2 გრაფა): <%= @voters_special %></li>
  <li>გადასატანი საარჩევნო ყუთის სიაში არსებულ ამომრჩეველთა რაოდენობა (მოიძიეთ  მდივანთან): <%= @voters_mobile %></li>
  <li>ჰქონდა თუ არა საარჩევნო უბანს ყველა საჭირო მასალა?: <%= number_to_percentage(@e_materials.to_f / @precincts.length) %></li>
  <li>შექმნილია თუ არა კენჭისყრის ფარულობისთვის საჭირო პირობები?: <%= number_to_percentage(@confide.to_f / @precincts.length) %></li>
  <li>ჩატარდა თუ არა უბნის გახსნის პროცედურები დადგენილი კანონმდებლობის შესაბამისად?<ul>
    <li>დიახ, პროცესი ჩატარდა კარგად: <%= number_to_percentage(@legal_one.to_f / @precincts.length) %></li>
    <li>ძირითადად კარგად, თუმცა მცირედი ხარვეზებით: <%= number_to_percentage(@legal_two.to_f / @precincts.length) %></li>
    <li>არა, პროცესი ჩატარდა  დარღვევებით: <%= number_to_percentage(@legal_three.to_f / @precincts.length) %></li>
  </ul></li>
</ul>
<br />
