<div class="page-header"><h1>მე-6 დარეკვის ანგარიში</h1></div>

<h2>საერთო ინფორმაცია</h2>

<ul class="standard">
  <li>მთლიანი რაოდენობა უბნებისა, სადაც დაკვირვება განხორციელდა: <%= @total_precincts.length %></li>
  <li>უბნების რაოდენობა, საიდანაც განხორციელდა ანგარიშგება: <%= @precincts.length unless @precincts.length == 0 %> precincts</li>
  <li>უბნების პროცენტული რაოდენობა, საიდანაც განხორციელდა ანგარიშგება: <%= number_to_percentage(@precincts.length.to_f / @total_precincts.length) %></li>
</ul>
<br />

<h2>დეტალური ინფორმაცია</h2>

<ul class="standard">
  <li>თხოვდნენ თუ არა რეგისტრატორები ამომრჩეველს პირადობის დამადასტურებელი საბუთის წარდგენას?: 
    <ul>
      <li>ყოველთვის: <%= number_to_percentage(@req_docs_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>1-4 შემთხვევაში არ მოსთხოვეს: <%= number_to_percentage(@req_docs_two.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>5-20 შემთხვევაში არ მოსთხოვეს: <%= number_to_percentage(@req_docs_three.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>20-ზე მეტ შემთხვევაში   არ მოსთხოვეს: <%= number_to_percentage(@req_docs_four.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>
  <li>ეკრძალებოდათ თუ არა ხმის მიცემა იმ ამომრჩევლებს, რომლებმაც არ წარმოადგინეს პირადობის დამადასტურებელი მოწმობა ან პასპორტი?: 
    <ul>
      <li>ყოველთვის: <%= number_to_percentage(@no_id_proh_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>1-4 შემთხვევაში არ აუკრძალეს: <%= number_to_percentage(@no_id_proh_two.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>5-20 შემთხვევაში არ აუკრძალეს: <%= number_to_percentage(@no_id_proh_three.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>20-ზე მეტ შემთხვევაში არ აუკრძალეს: <%= number_to_percentage(@no_id_proh_four.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>
  <li>მოაწერა თუ არა ხელი ყველა ამომრჩეველმა ამომრჩეველთა სამაგიდო სიაში თავისი სახელისა და გვარის გასწვრივ?
    <ul>
      <li>ყოველთვის: <%= number_to_percentage(@vot_sig_list_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>1-4 შემთხვევაში არ მოაწერა: <%= number_to_percentage(@vot_sig_list_two.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>5-20 შემთხვევაში არ მოაწერა: <%= number_to_percentage(@vot_sig_list_three.to_f / @precincts.length)  unless @precincts.length == 0 %></li>
      <li>20-ზე მეტ შემთხვევაში არ მოაწერა: <%= number_to_percentage(@vot_sig_list_four.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>
    <li>რამდენ ამომრჩეველს გაეწია დახმარება ხმის მიცემის დროს?
    <ul>
      <li>არცერთს: <%= number_to_percentage(@vot_help_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>1-4 ამომრჩეველს: <%= number_to_percentage(@vot_help_two_four.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>5-20 ამომრჩველს: <%= number_to_percentage(@vot_help_three.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>20-ზე მეტს: <%= number_to_percentage(@vot_help_four.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>უმოწმებდნენ თუ არა მარკირების არსებობას ყველა ამომრჩეველს უბანზე შესვლისას?
    <li>
    <ul>
      <li>ყოველთვის: <%= number_to_percentage(@checked4mark_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>1-4 შემთხვევაში არ შეამოწმეს: <%= number_to_percentage(@checked4mark_two.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>5-20 შემთხვევაში არ შეამოწმეს: <%= number_to_percentage(@checked4mark_three.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>20-ზე მეტ შემთხვევაში არ შეამოწმეს: <%= number_to_percentage(@checked4mark_four.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>გაუკეთდა თუ არა მარკირება ყველა ამომრჩეველს?
    <li>
    <ul>
      <li>ყოველთვის: <%= number_to_percentage(@mark_applied_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>1-4 შემთხვევაში არ გაუკეთდა: <%= number_to_percentage(@mark_applied_two.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>5-20 შემთხვევაში არ გაუკეთდა: <%= number_to_percentage(@mark_applied_three.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>20-ზე მეტ შემთხვევაში არ გაუკეთდა: <%= number_to_percentage(@mark_applied_four.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>ჰქონდა თუ არა ადგილი შემთხვევებს, როცა საჭიროების გარეშე ხმის მიცემის კაბინაში შედიოდა ერთზე მეტი ამომრჩეველი?
    <li>  
    <ul>
      <li>არასოდეს: <%= number_to_percentage(@booth_people_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>1-4 შემთხვევა: <%= number_to_percentage(@booth_people_two.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>5-20 შემთხვევა: <%= number_to_percentage(@booth_people_three.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>20-ზე მეტი შემთხვევა: <%= number_to_percentage(@booth_people_four.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>  
  <li>ჰქონდა თუ არა ადგილი შემთხვევებს, როდესაც ამომრჩეველი იღებდა ბიულეტენს წინასწარ გაკეთებული წარწერით ან რაიმე ნიშნით?
    <ul>
      <li>არასოდეს: <%= number_to_percentage(@dirty_ballot_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>1-4 შემთხვევა: <%= number_to_percentage(@dirty_ballot_two.to_f / @precincts.length) %></li>
      <li>5-20 შემთხვევა: <%= number_to_percentage(@dirty_ballot_three.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>20-ზე მეტი შემთხვევა: <%= number_to_percentage(@dirty_ballot_four.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>
    <li>ყუთის ზედამხედველი ამოწმებდა თუ არა საარჩევნო ყუთთან მისული ამომრჩევლის ბიულეტენების რაოდენობას?
    <ul>
      <li>ყოველთვის: <%= number_to_percentage(@ballnhand_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>1-4 შემთხვევაში არ შეამოწმეს: <%= number_to_percentage(@ballnhand_two.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>5-20 შემთხვევაში არ შეამოწმეს: <%= number_to_percentage(@ballnhand_three.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>20-ზე მეტ შემთხვევაში არ შეამოწმეს: <%= number_to_percentage(@ballnhand_four.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>
    <li>ჰქონდა თუ არა ადგილი ამომრჩევლის არჩევანზე გავლენის მოხდენის მცდელობებს?
    <ul>
      <li>არასოდეს: <%= number_to_percentage(@influence_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>1-4 შემთხვევა: <%= number_to_percentage(@influence_two.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>5-20 შემთხვევა: <%= number_to_percentage(@influence_three.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>20-ზე მეტი შემთხვევა: <%= number_to_percentage(@influence_four.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>
  <h3>ჩამოთვლილი ადამიანებიდან იყვნენ თუ არა ისეთები, ვინც ხელს უშლიდა პროცესს ან ცდილობდა, გავლენა მოეხდინა ხმის მიცემაზე?</h3>
  <li>პოლიტიკური პარტიების წარმომადგენლები
    <ul>
      <li>დიახ: <%= number_to_percentage(@inf_pol_party_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>
  <li>ძალოვანი უწყებების წარმომადგენლები
    <ul>
      <li>დიახ: <%= number_to_percentage(@inf_sec_serv_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>
  <li>დამკვირვებლები
    <ul>
      <li>დიახ: <%= number_to_percentage(@inf_obs_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>
  <li>თემის ლიდერები
    <ul>
      <li>დიახ: <%= number_to_percentage(@inf_com_lead_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>
  <li>ჰქონდა თუ არა ადგილი შემთხვევებს, როცა არ ხდებოდა ამომრჩეველთა ნაკადის უბანზე შესვლის რეგულირება და იქმნებოდა ხალხმრავლობა?
    <ul>
      <li>სერიოზული: <%= number_to_percentage(@unreg_flow_one.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>უმნიშვნელო: <%= number_to_percentage(@unreg_flow_two.to_f / @precincts.length) unless @precincts.length == 0 %></li>
      <li>არა: <%= number_to_percentage(@unreg_flow_three.to_f / @precincts.length) unless @precincts.length == 0 %></li>
    </ul>
  </li>
</ul>
<br />
