<%= form_for @call6, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <%= field_set_tag 'საერთო ინფორმაცია', :class=>"label" do %>
  <div class="control-group">
    <%= label :fname, t('call6.form.fname'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label :lname, t('call6.form.lname'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label :dname, t('call6.form.dname'), :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :dname, District.order(:dname), :id, :dname, include_blank: true %>
    </div>
  </div>
  <div class="control-group">
    <%= label :pname, t('call6.form.pname'), :class => 'control-label' %>
    <div class="controls">
      <%= f.grouped_collection_select :pname, District.order(:dname), :precincts, :dname, :id, :pname, include_blank: true %>
    </div>
  </div>
  <% end %>
  <div class="control-group">
    <span class="label">A</span>
    <%= label :label_a, t('call6.form.label_a'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_a, true %>
      <%= label :label_a, t('call6.form.label_a_one') %>
      <%= f.radio_button :label_a, false %>
      <%= label :label_a, t('call6.form.label_a_two') %>
    </div>
  </div>
  <div class="control-group">
    <span class="label">B</span>
    <%= label :label_b, t('call6.form.label_b'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_b, true %>
      <%= label :label_b, t('call6.form.label_b_one') %>
      <%= f.radio_button :label_b, false %>
      <%= label :label_b, t('call6.form.label_b_two') %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('app.buttons.save'), :class => 'btn btn-primary' %>
    <%= link_to t('app.buttons.cancel'),
                call6s_path, :class => 'btn' %>
  </div>
<% end %>
