<%- model_class = Call6 -%>
<div class="page-header">
  <h1>მე-6 დარეკვა</h1>
</div>

<div class="row span9">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>სახელი</td>
        <td><%= @call6.fname %></td>
      </tr>
      <tr>
        <td>გვარი</td>
        <td><%= @call6.lname %></td>
      </tr>
      <tr>
        <td>ოლქი</td>
        <td><%= @call6.district.dname %></td>
      </tr>
      <tr>
        <td>უბანი</td>
        <td><%= @call6.precinct.pname %></td>
      </tr>
      <tr>
        <td>A</td>
        <td><%= yn_label(@call6.label_a) %></td>
      </tr
      <tr>
        <td>B</td>
        <td><%= yn_label(@call6.label_b) %></td>
      </tr
    </tbody>
  </table>
</div>

<div class="form-actions">
  <%= link_to t('app.buttons.back'),
              call6s_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit'),
              edit_call6_path(@call6), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              call6_path(@call6),
              :method => 'delete',
              :data => { :confirm => t('app.buttons.confirm') },
              :class => 'btn btn-danger' %>
</div>
