<%- model_class = Call3 -%>
<div class="page-header">
  <h1>მე-3 დარეკვა</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>სახელი</th>
      <th>გვარი</th>
      <th>ოლქის დასახელება</th>
      <th>უბნის ნომერი</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @call3s.each do |call3| %>
      <tr>
        <td><%= link_to call3.fname, call3_path(call3) %></td>
        <td><%= call3.lname %></td>
        <td><%= call3.district.dname %></td>
        <td><%= call3.precinct.pname %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_call3_path(call3), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.delete'),
                      call3_path(call3),
                      :method => :delete,
                      :data => { :confirm => t('app.buttons.confirm') },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
