<%- model_class = Call5 -%>
<div class="page-header">
  <h1>მე-5 დარეკვა</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>სახელი</th>
      <th>გვარი</th>
      <th>ოლქის დასახლები</th>
      <th>უბნის ნომერი</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @call5s.each do |call5| %>
      <tr>
        <td><%= link_to call5.fname, call5_path(call5) %></td>
        <td><%= call5.lname %></td>
        <td><%= call5.district_id %></td>
        <td><%= call5.precinct_id %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_call5_path(call5), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.delete'),
                      call5_path(call5),
                      :method => :delete,
                      :data => { :confirm => t('app.buttons.confirm') },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
