<%- model_class = Call5 -%>
<div class="page-header">
  <h1>მე-5 დარეკვა</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>სახელი</strong></dt>
  <dd><%= @call5.fname %></dd>
  <dt><strong>გვარი:</strong></dt>
  <dd><%= @call5.lname %></dd>
  <dt><strong>ოლქი:</strong></dt>
  <dd><%= @call5.dname %></dd>
  <dt><strong>უბანი:</strong></dt>
  <dd><%= @call5.pname %></dd>
  <dt><strong>AL:</strong></dt>
  <dd><%= @call5.label_al %></dd>
  <dt><strong>AM:</strong></dt>
  <dd><%= @call5.label_am %></dd>
  <dt><strong>AN:</strong></dt>
  <dd><%= @call5.label_an %></dd>
  <dt><strong>AP:</strong></dt>
  <dd><%= @call5.label_ap %></dd>
  <dt><strong>AQ:</strong></dt>
  <dd><%= @call5.label_aq %></dd>
  <dt><strong>AR:</strong></dt>
  <dd><%= @call5.label_ar %></dd>
  <dt><strong>AR:</strong></dt>
  <dd><%= @call5.label_as %></dd>
  <dt><strong>AT:</strong></dt>
  <dd><%= @call5.label_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('app.buttons.back'),
              call5s_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit'),
              edit_call5_path(@call5), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              call5_path(@call5),
              :method => 'delete',
              :data => { :confirm => t('app.buttons.confirm') },
              :class => 'btn btn-danger' %>
</div>
