<%- model_class = Call5 -%>
<div class="page-header">
  <h1>მე-5 დარეკვა</h1>
</div>

<div class="row span9">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>სახელი</td>
        <td><%= @call5.fname %></td>
      </tr>
      <tr>
        <td>გვარი</td>
        <td><%= @call5.lname %></td>
      </tr>
      <tr>
        <td>ოლქი</td>
        <td><%= @call5.district.dname %></td>
      </tr>
      <tr>
        <td>უბანი</td>
        <td><%= @call5.precinct.pname %></td>
      </tr>
      <tr>
        <td>AL</td>
        <td><%= yn_label(@call5.label_al) %></td>
      </tr>
      <tr>
        <td>AM</td>
        <td><%= yn_label(@call5.label_am) %></td>
      </tr>
      <tr>
        <td>AN</td>
        <td><%= yn_label(@call5.label_an) %></td>
      </tr>
      <tr>
        <td>AP</td>
        <td><%= yn_label(@call5.label_ap) %></td>
      </tr>      
      <tr>
        <td>AQ</td>
        <td><%= yn_label(@call5.label_aq) %></td>
      </tr>
      <tr>
        <td>AR</td>
        <td><%= yn_label(@call5.label_ar) %></td>
      </tr>
      <tr>
        <td>AS</td>
        <td><%= yn_label(@call5.label_as) %></td>
      </tr>
      <tr>
        <td>AT</td>
        <td><%= yn_label(@call5.label_at) %></td>
      </tr>      
    </tbody>
  </table>
</div>

<div class="form-actions">
  <%= link_to t('app.buttons.back'),
              call5s_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit'),
              edit_call5_path(@call5), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              call5_path(@call5),
              :method => 'delete',
              :data => { :confirm => t('app.buttons.confirm') },
              :class => 'btn btn-danger' %>
</div>
