<%- model_class = Call2 -%>
<div class="page-header">
  <h1>მე-2 დარეკვა</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>სახელი</th>
      <th>გვარი</th>
      <th>ოლქის სახელი</th>
      <th>უბნიეს სახელი</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @call2s.each do |call2| %>
      <tr>
        <td><%= link_to call2.fname, call2_path(call2) %></td>
        <td><%= call2.lname %></td>
        <td><%= call2.district_id %></td>
        <td><%= call2.precinct_id %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_call2_path(call2), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.delete'),
                      call2_path(call2),
                      :method => :delete,
                      :data => { :confirm => t('app.buttons.confirm'  ) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
