<%= form_for(@call1, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_messages %>
  <%= field_set_tag '', :class=>"label" do %>
  <div class="control-group">
    <%= label :fname, t('call1.form.fname'), :for=>'call1_fname', :class=>'control-label' %>
    <div class="controls">
      <%= f.text_field :fname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label :lname, t('call1.form.lname'), :for=>'call1_lname', :class=>'control-label' %>
    <div class="controls">
      <%= f.text_field :lname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label :district_id, t('call1.form.dname'), :for=>"call1_district_id", :class=>"control-label" %>
    <div class="controls">
      <%= f.collection_select :district_id, District.order(:dname), :id, :dname, include_blank: true %>
    </div>
  </div>
  <div class="control-group">
    <%= label :precinct_id, t('call1.form.pname'), :for=>"call1_precinct_id", :class=>"control-label" %>
    <div class="controls">
      <%= f.grouped_collection_select :precinct_id, District.order(:dname), :precincts, :dname, :id, :pname, include_blank: true %>
    </div>
  </div>
  <% end %>
  <div class="control-group">
    <span class="label">C</span>
    <%= f.label :c_label, t('call1.form.c_label'), :class=>'control-label' %>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button :c_label, true, :class=>'radio' %>
               დიახ
        </label>
        <label class="radio">
          <%= f.radio_button :c_label, true, :class=>'radio' %>
               არა
        </label>
      </div>
  </div>
  <div class="control-group">
    <span class="label">D</span>
    <%= label :d_label, t('call1.form.d_label'), :for=>'call1_d_label', :class=>'control-label' %>
    <div class="controls">
      <%= f.number_field :d_label, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <span class="label">E</span>
    <%= label :e_label, t('call1.form.e_label'), :for=>'call1_e_label', :class=>'control-label' %>
    <div class="controls">
      <%= f.number_field :e_label, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <span class="label">F</span>
    <%= label :f_label, t('call1.form.f_label'), :for=>'call1_f_label', :class=>'control-label' %>
    <div class="controls">
      <%= f.number_field :f_label, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <span class="label">G</span>
    <%= f.label :g_label, t('call1.form.g_label'), :class=>'control-label' %>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button :g_label, true, :class=>'radio' %>
               დიახ
        </label>
        <label class="radio">
          <%= f.radio_button :g_label, true, :class=>'radio' %>
               არა
        </label>
      </div>
  </div>
  <div class="control-group">
    <span class="label">H</span>
    <%= f.label :h_label, t('call1.form.h_label'), :class=>'control-label' %>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button :h_label, true, :class=>'radio' %>
               დიახ
        </label>
        <label class="radio">
          <%= f.radio_button :h_label, true, :class=>'radio' %>
               არა
        </label>
      </div>
  </div>
  <div class="control-group">
    <span class="label">K</span>
    <%= f.label :k_label, t('call1.form.k_label'), :class=>'control-label' %>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button :k_label, 1, :class=>'radio' %>
          <%= t('call1.form.k_label_one') %>
        </label>
        <label class="radio">
          <%= f.radio_button :k_label, 2, :class=>'radio' %>
          <%= t('call1.form.k_label_two') %>
        </label>
        <label class="radio">
          <%= f.radio_button :k_label, 3, :class=>'radio' %>
          <%= t('call1.form.k_label_three') %>
        </label>
      </div>
  </div>
  <div class="form-actions">
    <%= f.submit t('app.buttons.save'), :class => 'btn btn-primary' %>
    <%= link_to t('app.buttons.cancel'),
                call1s_path, :class => 'btn' %>
  </div>
<% end %>
