<%- model_class = Call1 -%>
<div class="page-header">
  <h1>პირველი დარეკვა</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>სახელი</th>
      <th>გვარი</th>
      <th>ოლქის სახელი</th>
      <th>უბნის ნომერი</th>
      <th>შექმნის თარიღი</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @call1s.each do |call1| %>
      <tr>
        <td><%= call1.fname %></td>
        <td><%= call1.lname %></td>
        <td><%= link_to call1.district.dname, call1_path(call1) %></td>
        <td><%= call1.precinct.pname %></td>
        <td><%=l call1.created_at %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_call1_path(call1), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.delete'),
                      call1_path(call1),
                      :method => :delete,
                      :data => { :confirm => t('app.buttons.confirm') },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= page_navigation_links @index %>
