<%- model_class = Call1 -%>
<div class="page-header">
  <h1><%= t('call1.form.edit.title') %></h1>
</div>

<div>
  <div class="row">
    <div class="header span2">
        სახელი:
    </div>
    <div class="content span6">
      <%= @call1.fname %>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="header span2">
        გვარი:
    </div>
    <div class="content span6">
      <%= @call1.lname %>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="header span2">
        ოლქი:
    </div>
    <div class="content span6">
      <%= @call1.district.dname %>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="header span2">
        უბანი:
    </div>
    <div class="content span6">
      <%= @call1.precinct.pname %>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="header span2">
      C:
    </div>
    <div class="content span6">
      <%= yn_label(@call1.c_label) %>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="header span2">
      D:
    </div>
    <div class="content span6">
      <%= yn_label(@call1.d_label) %>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="header span2">
      E:
    </div>
    <div class="content span6">
      <%= yn_label(@call1.e_label) %>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="header span2">
      F:
    </div>
    <div class="content span6">
      <%= yn_label(@call1.f_label) %>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="header span2">
      G:
    </div>
    <div class="content span6">
      <%= yn_label(@call1.g_label) %>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="header span2">
      H:
    </div>
    <div class="content span6">
      <%= yn_label(@call1.h_label) %>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="header span2">
      K:
    </div>
    <div class="content span6">
      <%= yn_label(@call1.k_label) %>
    </div>
  </div>
</div>

<dl class="dl-horizontal">
<div class="form-actions">
  <%= link_to t('app.buttons.back'),
              call1s_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit'),
              edit_call1_path(@call1), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              call1_path(@call1),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
