<%= form_for @call4, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= label :fname, t('call4.form.fname'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label :lname, t('call4.form.lname'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label :dname, t('call4.form.dname'), :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :dname, District.order(:dname), :id, :dname, include_blank: true %>
    </div>
  </div>
  <div class="control-group">
    <%= label :pname, t('call4.form.pname'), :class => 'control-label' %>
    <div class="controls">
      <%= f.grouped_collection_select :pname, District.order(:dname), :precincts, :dname, :id, :pname, include_blank: true %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_n, t('call4.form.label_n'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_n, '1' %>
      <%= label :label_n, t('call4.form.label_n_one') %>
      <%= f.radio_button :label_n, '2' %>
      <%= label :label_n, t('call4.form.label_n_two') %>
      <%= f.radio_button :label_n, '3' %>
      <%= label :label_n, t('call4.form.label_n_three') %>
      <%= f.radio_button :label_n, '4' %>
      <%= label :label_n, t('call4.form.label_n_four') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_p, t('call4.form.label_p'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_p, '1' %>
      <%= label :label_p, t('call4.form.label_p_one') %>
      <%= f.radio_button :label_p, '2' %>
      <%= label :label_p, t('call4.form.label_p_two') %>
      <%= f.radio_button :label_p, '3' %>
      <%= label :label_p, t('call4.form.label_p_three') %>
      <%= f.radio_button :label_p, '4' %>
      <%= label :label_p, t('call4.form.label_p_four') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_q, t('call4.form.label_q'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_q, '1' %>
      <%= label :label_q, t('call4.form.label_q_one') %>
      <%= f.radio_button :label_q, '2' %>
      <%= label :label_q, t('call4.form.label_q_two') %>
      <%= f.radio_button :label_q, '3' %>
      <%= label :label_q, t('call4.form.label_q_three') %>
      <%= f.radio_button :label_q, '4' %>
      <%= label :label_q, t('call4.form.label_q_four') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_r, t('call4.form.label_r'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_r, '1' %>
      <%= label :label_r, t('call4.form.label_r_one') %>
      <%= f.radio_button :label_r, '2' %>
      <%= label :label_r, t('call4.form.label_r_two') %>
      <%= f.radio_button :label_r, '3' %>
      <%= label :label_r, t('call4.form.label_r_three') %>
      <%= f.radio_button :label_r, '4' %>
      <%= label :label_r, t('call4.form.label_r_four') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_s, t('call4.form.label_s'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_s, '1' %>
      <%= label :label_s, t('call4.form.label_s_one') %>
      <%= f.radio_button :label_s, '2' %>
      <%= label :label_s, t('call4.form.label_s_two') %>
      <%= f.radio_button :label_s, '3' %>
      <%= label :label_s, t('call4.form.label_s_three') %>
      <%= f.radio_button :label_s, '4' %>
      <%= label :label_s, t('call4.form.label_s_four') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_t, t('call4.form.label_t'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_t, '1' %>
      <%= label :label_t, t('call4.form.label_t_one') %>
      <%= f.radio_button :label_t, '2' %>
      <%= label :label_t, t('call4.form.label_t_two') %>
      <%= f.radio_button :label_t, '3' %>
      <%= label :label_t, t('call4.form.label_t_three') %>
      <%= f.radio_button :label_t, '4' %>
      <%= label :label_t, t('call4.form.label_t_four') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_u, t('call4.form.label_u'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_u, '1' %>
      <%= label :label_u, t('call4.form.label_u_one') %>
      <%= f.radio_button :label_u, '2' %>
      <%= label :label_u, t('call4.form.label_u_two') %>
      <%= f.radio_button :label_u, '3' %>
      <%= label :label_u, t('call4.form.label_u_three') %>
      <%= f.radio_button :label_u, '4' %>
      <%= label :label_u, t('call4.form.label_u_four') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_z, t('call4.form.label_z'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_z, '1' %>
      <%= label :label_z, t('call4.form.label_z_one') %>
      <%= f.radio_button :label_z, '2' %>
      <%= label :label_z, t('call4.form.label_z_two') %>
      <%= f.radio_button :label_z, '3' %>
      <%= label :label_z, t('call4.form.label_z_three') %>
      <%= f.radio_button :label_z, '4' %>
      <%= label :label_z, t('call4.form.label_z_four') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_ab, t('call4.form.label_ab'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_ab, '1' %>
      <%= label :label_ab, t('call4.form.label_ab_one') %>
      <%= f.radio_button :label_ab, '2' %>
      <%= label :label_ab, t('call4.form.label_ab_two') %>
      <%= f.radio_button :label_ab, '3' %>
      <%= label :label_ab, t('call4.form.label_ab_three') %>
      <%= f.radio_button :label_ab, '4' %>
      <%= label :label_ab, t('call4.form.label_ab_four') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_ac, t('call4.form.label_ac'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_ac, '1' %>
      <%= label :label_ac, t('call4.form.label_ac_one') %>
      <%= f.radio_button :label_ac, '2' %>
      <%= label :label_ac, t('call4.form.label_ac_two') %>
      <%= f.radio_button :label_ac, '3' %>
      <%= label :label_ac, t('call4.form.label_ac_three') %>
      <%= f.radio_button :label_ac, '4' %>
      <%= label :label_ac, t('call4.form.label_ac_four') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_ad, t('call4.form.label_ad'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_ad, true %>
      <%= label :label_ad, t('call4.form.label_ad_one') %>
      <%= f.radio_button :label_ad, false %>
      <%= label :label_ad, t('call4.form.label_ad_two') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_af, t('call4.form.label_af'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_af, true %>
      <%= label :label_af, t('call4.form.label_af_one') %>
      <%= f.radio_button :label_af, false %>
      <%= label :label_af, t('call4.form.label_af_two') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_ag, t('call4.form.label_ag'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_ag, true %>
      <%= label :label_ag, t('call4.form.label_ag_one') %>
      <%= f.radio_button :label_ag, false %>
      <%= label :label_ag, t('call4.form.label_ag_two') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_ag, t('call4.form.label_ah'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_ah, true %>
      <%= label :label_ah, t('call4.form.label_ah_one') %>
      <%= f.radio_button :label_ah, false %>
      <%= label :label_ah, t('call4.form.label_ah_two') %>
    </div>
  </div>
  <div class="control-group">
    <%= label :label_ak, t('call4.form.label_ak'), :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :label_ak, '1' %>
      <%= label :label_ak, t('call4.form.label_ak_one') %>
      <%= f.radio_button :label_ak, '2' %>
      <%= label :label_ak, t('call4.form.label_ak_two') %>
      <%= f.radio_button :label_ak, '3' %>
      <%= label :label_ak, t('call4.form.label_ak_three') %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('app.buttons.save'), :class => 'btn btn-primary' %>
    <%= link_to t('app.buttons.cancel'),
                call4s_path, :class => 'btn' %>
  </div>
<% end %>
