<%- model_class = Call4 -%>
<div class="page-header">
  <h1>მე-4 დარეკვა</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>სახელი</th>
      <th>გვარი</th>
      <th>ოლქის დასეხლება</th>
      <th>უბნის ნომბერი</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @call4s.each do |call4| %>
      <tr>
        <td><%= link_to call4.fname, call4_path(call4) %></td>
        <td><%= call4.lname %></td>
        <td><%= call4.district_id %></td>
        <td><%= call4.precinct_id %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_call4_path(call4), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.delete'),
                      call4_path(call4),
                      :method => :delete,
                      :data => { :confirm => t('app.buttons.confirm') },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
