<%- model_class = Call4 -%>
<div class="page-header">
  <h1>მე-4 დარეკვა</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>სახელი:</strong></dt>
  <dd><%= @call4.fname %></dd>
  <dt><strong>გვარი:</strong></dt>
  <dd><%= @call4.lname %></dd>
  <dt><strong>ოლქი:</strong></dt>
  <dd><%= @call4.district_id %></dd>
  <dt><strong>უბანი:</strong></dt>
  <dd><%= @call4.precinct_id %></dd>
  <dt><strong>N:</strong></dt>
  <dd><%= @call4.label_n %></dd>
  <dt><strong>P:</strong></dt>
  <dd><%= @call4.label_p %></dd>
  <dt><strong>Q:</strong></dt>
  <dd><%= @call4.label_q %></dd>
  <dt><strong>R:</strong></dt>
  <dd><%= @call4.label_r %></dd>
  <dt><strong>S:</strong></dt>
  <dd><%= @call4.label_s %></dd>
  <dt><strong>T:</strong></dt>
  <dd><%= @call4.label_t %></dd>
  <dt><strong>U:</strong></dt>
  <dd><%= @call4.label_u %></dd>
  <dt><strong>Z:</strong></dt>
  <dd><%= @call4.label_z %></dd>
  <dt><strong>AB:</strong></dt>
  <dd><%= @call4.label_ab %></dd>
  <dt><strong>AC:</strong></dt>
  <dd><%= @call4.label_ac %></dd>
  <dt><strong>AD:</strong></dt>
  <dd><%= @call4.label_ad %></dd>
  <dt><strong>AF:</strong></dt>
  <dd><%= @call4.label_af %></dd>
  <dt><strong>AG:</strong></dt>
  <dd><%= @call4.label_ag %></dd>
  <dt><strong>AH:</strong></dt>
  <dd><%= @call4.label_ah %></dd>
  <dt><strong>AK:</strong></dt>
  <dd><%= @call4.label_ak %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('app.buttons.back'),
              call4s_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit'),
              edit_call4_path(@call4), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              call4_path(@call4),
              :method => 'delete',
              :data => { :confirm => t('app.buttons.confirm') },
              :class => 'btn btn-danger' %>
</div>
